/** Common CSS */

._fw{width: 100%;}
._fh{height: 100%;}
._w50{width: 50%;}
._w970{width: 970px;}
._mw970{max-width: 970px;}

._fl{float: left;}
._fr{float: right;}
._fwfl{width: 100%;float: left;}
._fwfr{width: 100%;float: right;}
._fhfl{height: 100%;float: left;}
._fhfr{height: 100%;float: right;}

button{background: transparent none repeat scroll 0 0; border: 0 none;padding: 0;
outline: none;}

button._btn, button._btn-sm{padding-top:5px !important;}
._btn, ._btn-sm{height:34px;line-height:19px;font-size:13px;outline:none !important;
font-weight:bold;border-radius:2px;-webkit-border-radius:2px;
-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;}
._btn:active{box-shadow:none;-webkit-box-shadow:none;
-moz-box-shadow:none;-ms-box-shadow:none;-o-box-shadow:none;}
._btn-sm{height: 30px;line-height:17px;}
button._btn-sm{height: 30px;line-height:17px;}
._save-btn{padding-left:18px;padding-right:18px;}

._btn-white{color:#999;background-color:#fff;border-color:#ddd;}
._btn-white:hover{color:#999;background-color:#fff;border-color:#ccc;}
._btn-white:active{color:#999;background-color:#fff;border-color:#bbb;}
._btn-white:focus{color:#999;background-color:#fff;border-color:#bbb;}

._btn-white-link{color:#007aff;background-color:#fff;border-color:#eee;}
._btn-white-link:hover{color:#007aff;background-color:#fff;border-color:#007aff;}
._btn-white-link:active{color:#007aff;background-color:#fff;border-color:#0972E5;}
._btn-white-link:focus{color:#007aff;background-color:#fff;border-color:#0972E5;}

._btn-blue{color:#fff;background-color:#007aff;border-color:#0578F5;}
._btn-blue:hover{color:#fff;background-color:#218AFC;border-color:#0578F5;}
._btn-blue:active{color:#fff;background-color:#0972E5;border-color:#0578F5;}
._btn-blue:focus{color:#fff;background-color:#0972E5;border-color:#0578F5;}

._btn-blue1{color:#fff;background-color:#2aabd2;border-color:#239EC3;}
._btn-blue1:hover{color:#fff;background-color:#31B5DD;border-color:#239EC3;}
._btn-blue1:active{color:#fff;background-color:#219CC2;border-color:#239EC3;}
._btn-blue1:focus{color:#fff;background-color:#219CC2;}

._btn-red{color:#fff;background-color:#f66;border-color:#f55;}
._btn-red:hover{color:#fff;background-color:#f77;border-color:#f66;}
._btn-red:active{color:#fff;background-color:#f55;border-color:#f44;}
._btn-red:focus{color:#fff;background-color:#f55;border-color:#f44;}

._btn-gray{color:#fff;background-color:#999;border-color:#888;}
._btn-gray:hover{color:#fff;background-color:#aaa;border-color:#999;}
._btn-gray:active{color:#fff;background-color:#777;border-color:#666;}
._btn-gray:focus{color:#fff;background-color:#777;border-color:#666;}

._btn-black-opacity{color:#fff;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);}
._btn-black-opacity:hover{color:#fff;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);}
._btn-black-opacity:active{color:#fff;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);}
._btn-black-opacity:focus{color:#fff;background-color:rgba(0, 0, 0, 0.5);border-color:rgba(0, 0, 0, 0);}

._fs10{font-size: 10px;}
._fs11{font-size: 11px;}
._fs12{font-size: 12px;}
._fs13{font-size: 13px;}
._fs14{font-size: 14px;}
._fs15{font-size: 15px;}
._fs16{font-size: 16px;}
._fs17{font-size: 17px;}
._fs18{font-size: 18px;}
._fs19{font-size: 19px;}
._fs20{font-size: 20px;}
._fs21{font-size: 21px;}
._fs22{font-size: 22px;}
._fs23{font-size: 23px;}
._fs24{font-size: 24px;}
._fs25{font-size: 25px;}
._fs26{font-size: 26px;}
._fs27{font-size: 27px;}
._fs28{font-size: 28px;}
._fs29{font-size: 29px;}
._fs30{font-size: 30px;}

._tg0{color: #000;}
._tg1{color: #111;}
._tg2{color: #222;}
._tg3{color: #333;}
._tg4{color: #444;}
._tg5{color: #555;}
._tg6{color: #666;}
._tg7{color: #777;}
._tg8{color: #888;}
._tg9{color: #999;}
._tga{color: #aaa;}
._tgb{color: #bbb;}
._tgc{color: #ccc;}
._tgd{color: #ddd;}
._tge{color: #eee;}
._tgf{color: #fff;}

._tr0{color: #f00;}
._tr1{color: #f11;}
._tr2{color: #f22;}
._tr3{color: #f33;}
._tr4{color: #f44;}
._tr5{color: #f55;}
._tr6{color: #f66;}
._tr7{color: #f77;}
._tr8{color: #f88;}
._tr9{color: #f99;}

._tb{color: #007aff;}

._tdn{text-decoration: none;}
._tdu{text-decoration: underline;}
._tdt{text-decoration: line-through;}

._bgw{background-color: #fff;}

._ma{margin: auto;}
._m0{margin: 0;}
._m1{margin: 1px;}
._m2{margin: 2px;}
._m3{margin: 3px;}
._m4{margin: 4px;}
._m5{margin: 5px;}
._m6{margin: 6px;}
._m7{margin: 7px;}
._m8{margin: 8px;}
._m9{margin: 9px;}
._m10{margin: 10px;}
._m11{margin: 11px;}
._m12{margin: 12px;}
._m13{margin: 13px;}
._m14{margin: 14px;}
._m15{margin: 15px;}
._m16{margin: 16px;}
._m17{margin: 17px;}
._m18{margin: 18px;}
._m19{margin: 19px;}
._m20{margin: 20px;}

._ml1{margin-left: 1px;}
._ml2{margin-left: 2px;}
._ml3{margin-left: 3px;}
._ml4{margin-left: 4px;}
._ml5{margin-left: 5px;}
._ml6{margin-left: 6px;}
._ml7{margin-left: 7px;}
._ml8{margin-left: 8px;}
._ml9{margin-left: 9px;}
._ml10{margin-left: 10px;}
._ml11{margin-left: 11px;}
._ml12{margin-left: 12px;}
._ml13{margin-left: 13px;}
._ml14{margin-left: 14px;}
._ml15{margin-left: 15px;}
._ml16{margin-left: 16px;}
._ml17{margin-left: 17px;}
._ml18{margin-left: 18px;}
._ml19{margin-left: 19px;}
._ml20{margin-left: 20px;}

._mr1{margin-right: 1px;}
._mr2{margin-right: 2px;}
._mr3{margin-right: 3px;}
._mr4{margin-right: 4px;}
._mr5{margin-right: 5px;}
._mr6{margin-right: 6px;}
._mr7{margin-right: 7px;}
._mr8{margin-right: 8px;}
._mr9{margin-right: 9px;}
._mr10{margin-right: 10px;}
._mr11{margin-right: 11px;}
._mr12{margin-right: 12px;}
._mr13{margin-right: 13px;}
._mr14{margin-right: 14px;}
._mr15{margin-right: 15px;}
._mr16{margin-right: 16px;}
._mr17{margin-right: 17px;}
._mr18{margin-right: 18px;}
._mr19{margin-right: 19px;}
._mr20{margin-right: 20px;}

._mt1{margin-top: 1px;}
._mt2{margin-top: 2px;}
._mt3{margin-top: 3px;}
._mt4{margin-top: 4px;}
._mt5{margin-top: 5px;}
._mt6{margin-top: 6px;}
._mt7{margin-top: 7px;}
._mt8{margin-top: 8px;}
._mt9{margin-top: 9px;}
._mt10{margin-top: 10px;}
._mt11{margin-top: 11px;}
._mt12{margin-top: 12px;}
._mt13{margin-top: 13px;}
._mt14{margin-top: 14px;}
._mt15{margin-top: 15px;}
._mt16{margin-top: 16px;}
._mt17{margin-top: 17px;}
._mt18{margin-top: 18px;}
._mt19{margin-top: 19px;}
._mt20{margin-top: 20px;}

._mb1{margin-bottom: 1px;}
._mb2{margin-bottom: 2px;}
._mb3{margin-bottom: 3px;}
._mb4{margin-bottom: 4px;}
._mb5{margin-bottom: 5px;}
._mb6{margin-bottom: 6px;}
._mb7{margin-bottom: 7px;}
._mb8{margin-bottom: 8px;}
._mb9{margin-bottom: 9px;}
._mb10{margin-bottom: 10px;}
._mb11{margin-bottom: 11px;}
._mb12{margin-bottom: 12px;}
._mb13{margin-bottom: 13px;}
._mb14{margin-bottom: 14px;}
._mb15{margin-bottom: 15px;}
._mb16{margin-bottom: 16px;}
._mb17{margin-bottom: 17px;}
._mb18{margin-bottom: 18px;}
._mb19{margin-bottom: 19px;}
._mb20{margin-bottom: 20px;}

._p0{padding: 0;}
._p1{padding: 1px;}
._p2{padding: 2px;}
._p3{padding: 3px;}
._p4{padding: 4px;}
._p5{padding: 5px;}
._p6{padding: 6px;}
._p7{padding: 7px;}
._p8{padding: 8px;}
._p9{padding: 9px;}
._p10{padding: 10px;}
._p11{padding: 11px;}
._p12{padding: 12px;}
._p13{padding: 13px;}
._p14{padding: 14px;}
._p15{padding: 15px;}
._p16{padding: 16px;}
._p17{padding: 17px;}
._p18{padding: 18px;}
._p19{padding: 19px;}
._p20{padding: 20px;}

._pl1{padding-left: 1px;}
._pl2{padding-left: 2px;}
._pl3{padding-left: 3px;}
._pl4{padding-left: 4px;}
._pl5{padding-left: 5px;}
._pl6{padding-left: 6px;}
._pl7{padding-left: 7px;}
._pl8{padding-left: 8px;}
._pl9{padding-left: 9px;}
._pl10{padding-left: 10px;}
._pl11{padding-left: 11px;}
._pl12{padding-left: 12px;}
._pl13{padding-left: 13px;}
._pl14{padding-left: 14px;}
._pl15{padding-left: 15px;}
._pl16{padding-left: 16px;}
._pl17{padding-left: 17px;}
._pl18{padding-left: 18px;}
._pl19{padding-left: 19px;}
._pl20{padding-left: 20px;}

._pr1{padding-right: 1px;}
._pr2{padding-right: 2px;}
._pr3{padding-right: 3px;}
._pr4{padding-right: 4px;}
._pr5{padding-right: 5px;}
._pr6{padding-right: 6px;}
._pr7{padding-right: 7px;}
._pr8{padding-right: 8px;}
._pr9{padding-right: 9px;}
._pr10{padding-right: 10px;}
._pr11{padding-right: 11px;}
._pr12{padding-right: 12px;}
._pr13{padding-right: 13px;}
._pr14{padding-right: 14px;}
._pr15{padding-right: 15px;}
._pr16{padding-right: 16px;}
._pr17{padding-right: 17px;}
._pr18{padding-right: 18px;}
._pr19{padding-right: 19px;}
._pr20{padding-right: 20px;}

._pt1{padding-top: 1px;}
._pt2{padding-top: 2px;}
._pt3{padding-top: 3px;}
._pt4{padding-top: 4px;}
._pt5{padding-top: 5px;}
._pt6{padding-top: 6px;}
._pt7{padding-top: 7px;}
._pt8{padding-top: 8px;}
._pt9{padding-top: 9px;}
._pt10{padding-top: 10px;}
._pt11{padding-top: 11px;}
._pt12{padding-top: 12px;}
._pt13{padding-top: 13px;}
._pt14{padding-top: 14px;}
._pt15{padding-top: 15px;}
._pt16{padding-top: 16px;}
._pt17{padding-top: 17px;}
._pt18{padding-top: 18px;}
._pt19{padding-top: 19px;}
._pt20{padding-top: 20px;}

._pb1{padding-bottom: 1px;}
._pb2{padding-bottom: 2px;}
._pb3{padding-bottom: 3px;}
._pb4{padding-bottom: 4px;}
._pb5{padding-bottom: 5px;}
._pb6{padding-bottom: 6px;}
._pb7{padding-bottom: 7px;}
._pb8{padding-bottom: 8px;}
._pb9{padding-bottom: 9px;}
._pb10{padding-bottom: 10px;}
._pb11{padding-bottom: 11px;}
._pb12{padding-bottom: 12px;}
._pb13{padding-bottom: 13px;}
._pb14{padding-bottom: 14px;}
._pb15{padding-bottom: 15px;}
._pb16{padding-bottom: 16px;}
._pb17{padding-bottom: 17px;}
._pb18{padding-bottom: 18px;}
._pb19{padding-bottom: 19px;}
._pb20{padding-bottom: 20px;}

._cp{cursor: pointer;}
._cd{cursor: default;}

._pa{position: absolute;}
._pr{position: relative;}

._lsn{list-style: none;}
._ls{list-style: none;padding: 0;margin: 0;}

._fwn{font-weight: normal;}
._fwb{font-weight: bold;}

._ff0{border: none;outline: none;background: transparent;}

._dn{display: none;}
._db{display: block;}

._tup{text-transform: uppercase;}

._r0{border-radius: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;}
._r1{border-radius: 1px;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
-ms-border-radius: 1px;
-o-border-radius: 1px;}
._r2{border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
-o-border-radius: 2px;}
._r3{border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;}
._r4{border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;}
._r5{border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;}
._r50{border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;}

/* Overide bootstap */

/* Tooltip */
.tooltip-inner{padding:4px 8px;border-radius:2px;-webkit-border-radius:2px;
-moz-border-radius:2px;-ms-border-radius:2px;-o-border-radius:2px;}