body{background-color:#f5f8fa;}
._mt55{margin-top:55px;}
/** Auth */
.auth-page{background-color: #fff;}
.auth-page .header{height:64px;border-bottom: solid 1px #e5e5e5;padding:0 15px;}
.auth-page .header-inside{height:34px;}
.auth-head-btn{font-weight:normal;padding:6px 12px;font-size:14px;}
.auth-container{padding:0 15px;}
.auth-form{max-width:350px;margin-top:50px;}
.auth-form-title{font-size:17px;color:#444;text-transform:uppercase;}
.auth-field-group{margin-bottom:15px;}
.first-field-group{margin-top:20px;}
.auth-field-group>label{height:18px;}
.auth-field{border:solid 2px #f4f4f4;background-color:#f4f4f4;padding:5px 15px;color:#555;}
.auth-field:focus{border-color:#007aff;}

/** Header */
.header{height:55px;border-bottom:solid 1px #007aff;padding:0 15px;position:fixed;}
.head-left-col{width:20%;}
.head-right-col{width:80%;}
.header-search-form{width:400px;margin-right:10px;}
.header-search-input{height:34px;border:solid 1px #007aff;padding:0 31px 0 17px;
background-color:rgba(0, 122, 255, 0.04);color:#007aff;}
.header-search-btn{height:34px;width:30px;margin-left:-31px;}
.head-location-btn{padding:7px 10px;}
.head-signup{margin-left:5px;display:none;}
.head-search-location{display:none;}
/** Avatar header */
.head-avatar-img{width:34px;height:34px;}
.avatar-dropdown .dropdown-toggle,
.avatar-dropdown.open .dropdown-toggle{box-shadow:none;-webkit-box-shadow:none;}
.avatar-dropdown .dropdown-menu{width:275px;left:-240px;border-color:#ddd;
-webkit-box-shadow:0 3px 7px rgba(0, 0, 0, 0.1);
box-shadow:0 3px 7px rgba(0, 0, 0, 0.1);}
.avatar-dropdown .dropdown-menu>li{width:100%;float:left;}
.avatar-dropdown .dropdown-menu>li>a{width:100%;float:left;color:#666;
padding:7px 15px;font-size:15px;font-weight:400;outline:none;}
.avatar-dropdown .dropdown-menu>li>a:hover{color:#007aff}
.avatar-dropdown .dropdown-menu>li>a>i{width:20px;float:left;padding-top:3px;}
.avatar-dropdown .dropdown-menu>li>a>span{float:left;margin-left:3px;}
.avatar-dropdown .avatar-popup-img{width:64px;height:64px;}
.short-profile-nav span{margin-left:0px !important;}
.short-profile{width:172px;margin-left:7px;}
.short-profile .short-info-name{margin-top:28px;}
.short-profile-nav:hover{background-color:#fff !important;}

.setting-container{margin:30px 0;}
.setting-left-col{width:650px;padding:30px 20px 20px 20px;
border: solid 1px #e4e4e4;}
.setting-header{height:55px;border-bottom:solid 2px #ddd;}
.setting-header>h1{font-size:22px;}
.setting-group{padding:20px 10px;border-bottom:solid 1px #eee;}

@media screen and (min-width: 320px){
    .header-search-form{width:300px;}
}

@media screen and (min-width: 481px){
}

@media screen and (min-width: 641px){
}

@media screen and (min-width: 769px){
    .head-left-col{width:13%;}
    .head-right-col{width:87%;}
    .head-search-location{display:block;}
    .head-signup{display:block;}
    .header-search-form{width:330px;}
    .head-location-btn{padding:7px;}
}

@media screen and (min-width: 841px){
    .header-search-form{width:370px;}
}

@media screen and (min-width: 941px){
    .head-left-col{width:16%;}
    .head-right-col{width:84%;}
    .header-search-form{width:400px;}
    .head-location-btn{padding:7px 12px;}
}

@media screen and (min-width: 1025px){
    .head-left-col{width:20%;}
    .head-right-col{width:80%;}
}

@media screen and (min-width: 1281px){
}