/** Common CSS */

._fw{width: 100%;}
._fh{height: 100%;}
._w50{width: 50%;}
._w970{width: 970px;}
._mw970{max-width: 970px;}

._fl{float: left;}
._fr{float: right;}
._fwfl{width: 100%;float: left;}
._fwfr{width: 100%;float: right;}
._fhfl{height: 100%;float: left;}
._fhfr{height: 100%;float: right;}

._r0{border-radius: 0;
-webkit-border-radius: 0;
-moz-border-radius: 0;
-ms-border-radius: 0;
-o-border-radius: 0;}
._r1{border-radius: 1px;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
-ms-border-radius: 1px;
-o-border-radius: 1px;}
._r2{border-radius: 2px;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
-ms-border-radius: 2px;
-o-border-radius: 2px;}
._r3{border-radius: 3px;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
-ms-border-radius: 3px;
-o-border-radius: 3px;}
._r4{border-radius: 4px;
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
-ms-border-radius: 4px;
-o-border-radius: 4px;}
._r5{border-radius: 5px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
-ms-border-radius: 5px;
-o-border-radius: 5px;}
._r50{border-radius: 50%;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
-ms-border-radius: 50%;
-o-border-radius: 50%;}

._fs10{font-size: 10px;}
._fs11{font-size: 11px;}
._fs12{font-size: 12px;}
._fs13{font-size: 13px;}
._fs14{font-size: 14px;}
._fs15{font-size: 15px;}
._fs16{font-size: 16px;}
._fs17{font-size: 17px;}
._fs18{font-size: 18px;}
._fs19{font-size: 19px;}
._fs20{font-size: 20px;}
._fs21{font-size: 21px;}
._fs22{font-size: 22px;}
._fs23{font-size: 23px;}
._fs24{font-size: 24px;}
._fs25{font-size: 25px;}
._fs26{font-size: 26px;}
._fs27{font-size: 27px;}
._fs28{font-size: 28px;}
._fs29{font-size: 29px;}
._fs30{font-size: 30px;}

._m0{margin: 0;}
._m1{margin: 1px;}
._m2{margin: 2px;}
._m3{margin: 3px;}
._m4{margin: 4px;}
._m5{margin: 5px;}
._m6{margin: 6px;}
._m7{margin: 7px;}
._m8{margin: 8px;}
._m9{margin: 9px;}
._m10{margin: 10px;}
._m11{margin: 11px;}
._m12{margin: 12px;}
._m13{margin: 13px;}
._m14{margin: 14px;}
._m15{margin: 15px;}

._ml1{margin-left: 1px;}
._ml2{margin-left: 2px;}
._ml3{margin-left: 3px;}
._ml4{margin-left: 4px;}
._ml5{margin-left: 5px;}
._ml6{margin-left: 6px;}
._ml7{margin-left: 7px;}
._ml8{margin-left: 8px;}
._ml9{margin-left: 9px;}
._ml10{margin-left: 10px;}
._ml11{margin-left: 11px;}
._ml12{margin-left: 12px;}
._ml13{margin-left: 13px;}
._ml14{margin-left: 14px;}
._ml15{margin-left: 15px;}

._mr1{margin-right: 1px;}
._mr2{margin-right: 2px;}
._mr3{margin-right: 3px;}
._mr4{margin-right: 4px;}
._mr5{margin-right: 5px;}
._mr6{margin-right: 6px;}
._mr7{margin-right: 7px;}
._mr8{margin-right: 8px;}
._mr9{margin-right: 9px;}
._mr10{margin-right: 10px;}
._mr11{margin-right: 11px;}
._mr12{margin-right: 12px;}
._mr13{margin-right: 13px;}
._mr14{margin-right: 14px;}
._mr15{margin-right: 15px;}

._mt1{margin-top: 1px;}
._mt2{margin-top: 2px;}
._mt3{margin-top: 3px;}
._mt4{margin-top: 4px;}
._mt5{margin-top: 5px;}
._mt6{margin-top: 6px;}
._mt7{margin-top: 7px;}
._mt8{margin-top: 8px;}
._mt9{margin-top: 9px;}
._mt10{margin-top: 10px;}
._mt11{margin-top: 11px;}
._mt12{margin-top: 12px;}
._mt13{margin-top: 13px;}
._mt14{margin-top: 14px;}
._mt15{margin-top: 15px;}

._mb1{margin-bottom: 1px;}
._mb2{margin-bottom: 2px;}
._mb3{margin-bottom: 3px;}
._mb4{margin-bottom: 4px;}
._mb5{margin-bottom: 5px;}
._mb6{margin-bottom: 6px;}
._mb7{margin-bottom: 7px;}
._mb8{margin-bottom: 8px;}
._mb9{margin-bottom: 9px;}
._mb10{margin-bottom: 10px;}
._mb11{margin-bottom: 11px;}
._mb12{margin-bottom: 12px;}
._mb13{margin-bottom: 13px;}
._mb14{margin-bottom: 14px;}
._mb15{margin-bottom: 15px;}

._cp{cursor: pointer;}
._cd{cursor: default;}

._pa{position: absolute;}
._pr{position: relative;}

._lsn{list-style: none;}
._ls{list-style: none;padding: 0;margin: 0;}
